Source: ddfacet
Section: science
Priority: extra
Maintainer: Debian Astro Team <debian-astro-maintainers@lists.alioth.debian.org>
Build-Depends: cmake,
               gfortran,
               debhelper (>=9),
               python-setuptools,
               dh-python,
               python-all,
               python-numpy,
               cython,
               python-dev,
               pkg-config
Standards-Version: 3.9.8
Homepage: https://github.com/saopicc/DDFacet
X-Python-Version: >= 2.6

Package: ddfacet
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}, ${python:Depends}
Description: A facet-based radio imaging package.
 A wide-band wide-field spectral deconvolution framework (DDFacet) based on
 image plane faceting, that takes into account generic direction-dependent effects.
